<div class="card" style="width: 18rem;">
    <div class="card-body">
        <!--Property binding {{}}, event binding [a]={}-->
        <h5 class="card-title" id="title">{{produit.nom}}</h5>
        <div class="cat">
            <a [routerLink]="['/menu',produit.id]" title="details">
                <img class="card-img-top" [src]="transform(produit.image)" alt="Card image cap">
            </a>
        </div>
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <a class="btn btn-sm btn-primary float-right">BUY</a>
        <h5 class="btn btn-sm disabled btn-outline-primary m-lg-2">{{produit.prix}} F</h5>
        <a [routerLink]="['/menu',produit.id]" title="details">
            <h5 class="btn btn-sm disabled btn-outline-primary m-lg-2">Details</h5>
        </a>
    </div>
</div>