<div class="card" style="width: 18rem;">
    <div class="card-body">
        <!--Property binding {{}}, event binding [a]={}-->
        <h5 class="card-title" id="title">{{produit.nom}}</h5>
        <a [routerLink]="['/burger',produit.id]">
            <img class="img-fluid" [src]="transform(produit.image)" alt="Card image cap">
        </a>
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <i class="fas fa-shopping-cart text-primary float-end  mt-2 hover" title="Ajouter Au Panier"></i>
        <a class="btn btn-sm btn-primary float-right">BUY</a>
        <h5 class="btn btn-sm disabled btn-outline-primary m-lg-2">{{produit.prix}} F</h5>
    </div>
</div>